/* 
- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%)

## Gradients

- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)

- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)



### Neutral

- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%)

*/
$bp-small: 46em; // 736px;
$mq-small: "screen and (min-width: #{$bp-small})";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  margin: 0px auto;
  width: 100%;
  background: #fff;
  color: #3e3e3e;
  box-sizing: border-box;
}

html {
  // This defines what 1rem is.
  font-size: 62.5%; // 1rem = 10px;
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'Hanken Grotesk',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.8rem;
  position: relative;

  @media #{$mq-small} {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}

// Container
.container {
  margin: 0 auto;
  width: 100%;
  border-radius: 3rem;
  box-shadow: 15px 15px 25px rgba(0,0,0,.15);

  & > div {
    margin: 0;
    height: 100%;
  }

  @media #{$mq-small} {
    display: flex;
    max-width: 73.6rem;
    height: 51.2rem;

    & > div {
      flex: 0 0 50%;
    }
  }
}

// Result Card
.results {
  background: rebeccapurple;
  color: white;
  border-radius: 3rem;
}

// Summary Card
.summary {
  padding: 4rem;
}

// Footer
.attribution {
  margin-top: 5rem;
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

