// Colors
$light-red: hsl(0, 100%, 67%);
$orange-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);

// Gradients
$light-slate-blue: hsl(252, 100%, 67%); // (background)
$light-royal-blue: hsl(241, 81%, 54%); // (background)

$violet-blue: hsla(256, 72%, 46%, 1); //  (circle)
$persian-blue: hsla(241, 72%, 46%, 0); //  (circle)

// Neutral
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

$bp-small: 46em; // 736px;
$mq-small: "screen and (min-width: #{$bp-small})";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  margin: 0px auto;
  width: 100%;
  background: $white;
  color: $dark-gray-blue;
  box-sizing: border-box;
}

html {
  // This defines what 1rem is.
  font-size: 62.5%; // 1rem = 10px;
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'Hanken Grotesk',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.8rem;
  position: relative;

  @media #{$mq-small} {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}

// Container
.container {
  margin: 0 auto;
  width: 100%;
  border-radius: 3rem;
  box-shadow: 15px 15px 25px rgba(0,0,0,.15);

  & > div {
    margin: 0;
    height: 100%;
    padding: 4rem;
  }

  @media #{$mq-small} {
    display: flex;
    max-width: 73.6rem;
    height: 51.2rem;

    & > div {
      flex: 0 0 50%;
    }
  }
}

// Result Card
.results {
  background: 7857ff;
  background-image: linear-gradient(to bottom, $light-slate-blue, $light-royal-blue);
  color: $white;
  border-radius: 3rem;
  text-align: center;

  h1 {
    font-size: 2.4rem;
    color: $light-lavender;
    margin-bottom: 4rem;
  }
}

.score {
  &-result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    height: 20rem;
    width: 20rem;
    border-radius: 100%;
    margin-bottom: 3rem;
    background: $light-royal-blue;
    color: $light-lavender;
  }

  &-value {
    color: $white;
    font-size: 7.5rem;
    font-weight: 800;
  }
}

// Summary Card
.summary {
  h2 {
    font-size: 2.4rem;
    margin-bottom: 2.7rem;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    font-weight: 700;

    img {
      margin-right: 2rem;
      vertical-align: middle;
    }

    .score {
      color: lighten($dark-gray-blue, 35%);

      span {
        color: $dark-gray-blue;
      }
    }

    &.reaction {
      background-color: lighten($light-red, 30%);
      color: $light-red;
    }

    &.memory {
      background-color: lighten($orange-yellow, 40%);
      color: $orange-yellow;
    }

    &.verbal {
      background-color: lighten($green-teal, 60%);
      color: $green-teal;
    }

    &.visual {
      background-color: lighten($cobalt-blue, 52%);
      color: $cobalt-blue;
    }
  }
}

button {
  width: 100%;
  height: 5.5rem;
  border-radius: 5rem;
  font-weight: 500;
  font-size: 1.6rem;
  margin-top: 2.5rem;
  cursor: pointer;
  border: none;
  background: $dark-gray-blue;
  color: $white;
}

// Footer
.attribution {
  margin-top: 5rem;
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

